<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @van.description %>
</p>

<p>
  <strong>Lien:</strong>
  <%= @van.link %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @van.title %>
</p>

<%= link_to 'Edit', edit_van_path(@van) %> |
<%= link_to 'Back', vans_path %>
