<% @houses.each do |h| %>
    <%= link_to house_path(h) do%>
        <div class="card-house">
            <%= image_tag h.pic %>
            <h1><%= h.title %> the <%= h.category %></h1>
            <p><%= h.description %></p>
        </div>
    <% end %>
<% end %>